.shope{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-top: 40px;
    
   
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:45px;
    justify-items: center;

}
.order-summerys{
   position: relative;
    border: solid 3px black;
    padding-left: 30px;    
}
.order-summerys h3{
    text-align: center;
}
.order-summery-wraper{
    position: sticky;
    top: 30px;
}