.product{
    width: 390px;
    height: 690px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
  

}
.product img{
    width: 370px;
    height: 350px;
    border-radius: 10px; 
    padding: 10px;
}
.product-info{
    padding:0 15px;
}
.product-name{
    font-size: 21px;
    padding: 5px 0;
}
.product-price{
    font-size: 21px;
}
.product-seller{
    font-size: 15px;
    padding: 5px 0;
}
.product-rating{
    font-size: 15px;
    padding-bottom: 15px;
}
.btn-cart{
    width: 100%;
    padding: 15px 0px;
    background:  rgba(91, 196, 238, 0.815);
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
}
.btn-cart:hover{
    background: rgb(0, 183, 255);
}
.cart-icon{
    margin-left: 15px;
    font-size: 20px;
    
}

